<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /rkam/
Options -Indexes

RewriteRule ^backup(/.*)?$ index.php?url=backup$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
